body{
  background-color: #ffabcb;
}

picture{
  text-align:  center;
  padding: 10px;
}

figcaption{
  text-align: center;
  margin-left: 10px
}

h1{
  text-align: center;
  padding: 3px;
  color: 046266;
  background-color: lightgrey;
}
