body{
  background-color: #ffabcb;
  font-family: sans-serif;
}

picture img{
  text-align:  center;
  padding: 10px;
  max-width: 100%;
}

figcaption{
  text-align: center;
  margin-left: 175px;
  margin-right: 175px;
  background-color: lightgrey;
  font-size: 32px;
}

a{
  text-decoration: underline;
  font-style: bold;
}

h1{
  text-align: center;
  padding: 3px;
  color: 046266;
  background-color: lightgrey;
}
