body {
  margin: 0;
}

nav ul {
  list-style-type: square;
}

nav ul li {
  color: blue;
}

nav a {
  color: black;
}

nav a:hover {
  color: yellow;
}

nav a:visited {
  color: purple;
}

nav a:active {
  color: green;
}


header {
  background-color: lightblue;
  padding: 25px;
}


main {
  width: calc(70% - 1px);
  float: left;
  padding: 1rem;
  border-right: 1px solid black; /* 1px border on only the right side */
}

aside {
  width: 30%;
  float: right;
}

footer {
  clear: both;
  background-color: lightblue; /* Same background color as header */
  text-align: center;
}

















/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
